<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

</br>
</br>
</br>

<div class = "blogapp_links">
<%if current_member.role.name == "Admin" %>
<%= link_to 'Members' , members_path %>
<%= link_to 'Category' , categories_path %>
<%end%>
<%= link_to 'Blogs' , blogs_path %>
</div>
<p></p>
